nav(class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl position-sticky blur shadow-blur mt-4 left-auto top-1 z-index-sticky" id="navbarBlur" navbar-scroll="true")
      div.container-fluid.py-1.px-3
        nav(aria-label="breadcrumb")
          ol.breadcrumb.bg-transparent.mb-0.pb-0.pt-1.px-0
            li.breadcrumb-item.text-sm.ps-2
                a(class="opacity-5 text-dark" href="javascript:;")="Pages"
            li(class="breadcrumb-item text-sm text-dark active" aria-current="page")="Dashboard"
          h6.font-weight-bolder.mb-0="Dashboard"
        div(class="collapse navbar-collapse mt-sm-0 mt-2 px-0" id="navbar")
          div.ms-md-auto.pe-md-3.d-flex.align-items-center
            div.input-group
              span.input-group-text.text-body
                i(class="fas fa-search" aria-hidden="true")
              input(type="text" class="form-control search-field" style="border-left:1px solid #d2d6da!important" placeholder="ابحث عن منتج...")
          ul.navbar-nav.justify-content-end.me-auto.ms-0
            li.nav-item.d-flex.align-items-center
              a(href="javascript:;" class="nav-link font-weight-bold px-0")
                i(class="fa fa-sign-out me-sm-1" aria-hidden="true")
            li.nav-item.d-xl-none.pe-3.d-flex.align-items-center
              a(href="javascript:;" class="nav-link p-0" id="iconNavbarSidenav")
                div.sidenav-toggler-inner
                  i.sidenav-toggler-line.bg-dark
                  i.sidenav-toggler-line.bg-dark
                  i.sidenav-toggler-line.bg-dark
            li.nav-item.px-3.d-flex.align-items-center
              a(href="javascript:;" class="nav-link p-0")
                i(class="fa fa-cog fixed-plugin-button-nav cursor-pointer" aria-hidden="true")